{{template "base.html" . }}
{{define "title"}}
--新冠大事件--
{{ end }}
{{define "header"}}
<h1>迄今为止，新冠大事件</h1>
{{ end }}

{{define "content"}}
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md yekong">
            <ul class="layui-timeline">
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">1月28日</h3>
                        <p>全球累计确诊新冠肺炎病例超1亿例
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">12月31日</h3>
                        <p>中国新冠病毒疫苗获批上市
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">12月27日</h3>
                        <p>全球累计确诊新冠肺炎病例超8000万例
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">9月17日</h3>
                        <p>全球累计新冠肺炎确诊病例破3000万例
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">8月2日</h3>
                        <p>国家卫生健康委组派“内地核酸检测支援队”赴香港，协助特区政府抗击疫情
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">7月6日-10日</h3>
                        <p>北京疫情已基本得到控制
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">6月15日</h3>
                        <p>全球累计确诊新冠肺炎病例超800万例
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">3月28日零时起</h3>
                        <p>中国暂停外国人入境
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">2月8日</h3>
                        <p>
                            武汉雷神山医院交付使用。
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">2月2日</h3>
                        <p>武汉火神山医院正式交付。
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">1月7日</h3>
                        <p>◆中国疾控中心成功分离首株新冠病毒毒株。
                        </p>
                    </div>
                </li>

                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">1月3日</h3>
                        <p>
                            当日起，中方定期与世界卫生组织、有关国家和地区组织以及中国港澳台地区及时、主动通报疫情信息
                            <br>
                            中方开始定期向美方通报疫情信息和防控举措。

                            <br>
                            国家卫生健康委会同湖北省卫生健康委制定《不明原因的病毒性肺炎诊疗方案（试行）》等9个文件

                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">2020年</h3>
                        <p>
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">2019年12月底</h3>
                        <p>
                            湖北省武汉市疾控中心监测发现不明原因肺炎病例。
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <div class="layui-timeline-title">过去</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{{ end }}
