{{template "base.html" . }}
{{define "title"}}
药房机器人管理中心
{{ end }}
{{define "header"}}
<h1>药房机器人管理中心</h1>
{{ end }}
{{define "content"}}
<div class="layui-row" style="padding-top: 0.5rem">
	<div class="layui-col-md10 layui-col-md-offset1">
		<table id="demo" lay-filter="test"></table>
	</div>
</div>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
  </div>
</script>

<script>
layui.use('layer', function(){
  var layer = layui.layer;
});
	layui.use("table", function () {
		var table = layui.table;
		table.render({
			even: true,
			toolbar: "#toolbarDemo",
			elem: "#demo",
			height: 612,
			limit:40,
			url: "/yfdata/",
			page: true,
			loading: true,
			title: "药房信息表",
			cols: [[
					{ field: "Checkbox", title: "", type: "checkbox", fixed: "left" },
					// { field: "Id", title: "ID", type: "number", sort: true  },
					{ field: "Name", title: "药品名称", sort: true,  },
					{ field: "Count", title: "药品存量", sort: true },
					{ field: "Otherinf", title: "药品其他信息", sort: true, style: "text" },
				],],
		});
table.on('toolbar(test)',function(obj){
	var checkStatus=table.checkStatus(obj.config.id);
			layer.msg('add');
	switch(obj.event){
		case 'add':
layer.open({
	type:2,
	time:6000,
	shade:0.5,
	shadeClose:true,
	content:'/addnew',
	resize:false,
	area:['300px','419px'],
})

			break;
			case 'delete':
			layer.msg('del');
			break;
			case 'update':
			layer.msg('up');
			break;
	};
});
	});
</script>
{{ end }}
