{{template "base.html" . }}
{{define "title"}}
我的控制台
{{ end }}
{{define "header"}}
<h1>控制台</h1>
{{ end }}

{{define "content"}}

{{if .uname}}
<p class="center">抗疫机器人控制台</p>

<hr class="layui-bg-green center" style="width: 90%" />
<div class="layui-row">
	<div class="layui-col-md5 layui-col-md-offset1">
		<fieldset class="" style="height: 80%">
			<legend><h2 >消毒机器人Status</h3></legend>
			<div class="layui-field-box">
				<p style="font-size: 17px">状态：正常 药物库存短缺情况：无 <br />药物需求情况：正常</p>
			</div>
		</fieldset>
	</div>
	<div class="layui-col-md5">
		<fieldset class="" style="height: 80%">
			<legend><h2>药房管理机器人Status</h2></legend>
			<div class="layui-field-box">
				<p style="font-size: 17px">状态：正常 药物库存短缺情况：无 <br />药物需求情况：正常</p>
			</div>
		</fieldset>
	</div>
</div>

{{ end }}

{{ end }}
