{{template "base.html" . }}
{{define "title"}}
--首页--
{{ end }}
{{define "header"}}
<h1>首页</h1>
{{ end }}
{{define "content"}}
<div class="layui-row yekong" style="padding-top: 0.5rem;height:100%">
    <div class="layui-col-md10 layui-col-md-offset1">
        <p class="center">
            <b style="font-size: 1.7rem;color: white;line-height: 4.5rem;"><i class="layui-icon layui-icon-light" style="font-size:1.7rem"></i> 关于本系统 <i class="layui-icon layui-icon-light" style="font-size:1.7rem"></i></b><br />
        </p>

        <blockquote class="layui-elem-quote layui-bg-cyan">
            <br />
            <p class="ptext">
                2020年起，一场疫情卷席全球，医疗管理系统遭受莫大的压力与风险，随着网络普及与迅速发展，社会进入信息化时代，科学化便捷化管理也逐步映入眼球。在此客观条件下，传统医疗管理方式已经无法满足我们的主观需求。
            </p>
            <br />
            <p class="ptext">
                智能机器人的兴起，在可见的未来将取而代之，特别是在当下，能够有效的提升医护人员工作的效率和安全性。当抗疫机器人被部署完毕之后，工作人员只需通过web便可以随时随地通过因特网查询机器人工作反馈，同时进行一定的操作，后台数据记录与处理将可以轻松地通过系统半自动完成，且全程公开安全可控。
            </p>
            <br />
            <p class="ptext">
                因此抗疫机器人对于新时代的需求，不仅大幅减少人力、物力、财力的消耗，增添了更多样的工作途径，扩宽了抗疫行动的范围；同时也保证了对抗疫数据处理的时效性、便捷性、安全性和完备性。针对此需求，特设计和实现了基于GolangWeb的Web管理系统。
            </p>
            <div class="center">
                <img src="/static/pic/yq.png" alt="" />
            </div>
        </blockquote>
    </div>
</div>
</p>
<div style="height: 5em;">

</div>
{{ end }}
