{{template "base.html" .}}
{{define "title"}}
--注册--
{{ end }}
{{define "header"}}
<h1>欢迎注册！：</h1>
{{ end }}
{{define "content"}}
<div class="layui-container">
	<div class="layui-row">
<div class="center">
	<h1 >Register</h4>
</div>
		<div class="layui-col-md4  layui-col-md-offset4 layui-col-xs10  layui-col-xs-offset1 center">
			<br></br>
			<form class="layui-form layui-form-pane" style="font-size:normal" action="/register" method="POST">
				<div class="layui-form-item">
					<label class="layui-form-label" for="username">用户名：</label>
					<div class="layui-input-inline">
						<input
							class="layui-input"
							type="text"
							lay-verify="required"
							placeholder="请输入用户名"
							name="username"
							id="username"
					required
						/>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label" for="password">密码：</label>
					<div class="layui-input-inline">
						<input
							class="layui-input"
							type="password"
							name="password"
							id="password"
							lay-verify="required"
							placeholder="请输入密码"
							required
						/>
					</div>
				</div>
				<button class="layui-btn layui-btn-radius" lay-submit lay-filter="formDemo" type="submit"  ><i class="layui-icon">&#xe654;</i> 立即注册！！</button>
			</form>
		</div>
	</div>
</div>

{{ end }}
