{{template "base.html" .}}
{{define "title"}}
--登录--
{{ end }}
{{define "header"}}
<h1>请登录：</h1>
{{ end }}
{{define "content"}}
<div class="center">
    <img src="/static/pic/sunraisr.jpeg" style="width: 100%;" alt="">
</div>
<div class="layui-container yekong" style="height:100%;width:100%">
    <div class="center">
        <div style="height:2rem">

        </div>
    </div>
    <div class="layui-row ">
        <div class="layui-col-md4 layui-col-xs " style="height: 1px;" >
			
        </div>
        <div class="layui-col-md4    layui-col-xs10 center  ">
            <div class="center">
                <img src="/static/pic/xiong.png" alt=""  style="width:20rem">
            </div>
            <div style="width:20% ;background-color:red;display:inline-block">
            </div>
            <div class="center" style="margin:0 auto;width:80% ;display:inline-block">
                <form class="layui-form layui-form-pane center" action="/signin" method="POST">
                    <br></br>
                    <div class="layui-form-item center">
                        <label class="layui-form-label" for="username">用户名：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" type="text" lay-verify="required" placeholder="请输入用户名" name="username" id="username" required />
                        </div>
                    </div>
                    <br>
                    <div class="layui-form-item">
                        <label class="layui-form-label" for="password">密码：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" type="password" name="password" id="password" lay-verify="required" placeholder="请输入密码" required />
                        </div>
                    </div>
                    <br>
                    <button class="layui-btn layui-btn-radius" lay-submit lay-filter="formDemo" type="submit"><i class="layui-icon">&#xe609;</i> 立即登录！！</button>
                    <br></br>
                </form>
            </div>
        </div>
        <div class="layui-col-md4 layui-col-xs3 center">
        </div>
    </div>
</div>
{{ end }}
