{{template "base.html" . }}
{{define "title"}}
我的控制台
{{ end }}
{{define "header"}}
<h1>控制台</h1>
{{ end }}

{{define "content"}}
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>  
<script type="text/javascript">
    // document.write(returnCitySN["cip"]+','+returnCitySN["cname"])  
    var mycity = returnCitySN["cname"]
    function test() {
        $.ajax({
            type: "POST",
            url: "/dashuju?mycity=" + mycity,
        })
    }
    test()
</script>
{{if .uname}}
<div class="layui-row">
    <div class="layui-col-md10 layui-col-md-offset1">
        <fieldset class="" style="height:auto">
            <legend>
                <h2 style="padding: 0, 2rem, 0, 2rem;">&nbsp;&nbsp;主面板&nbsp;&nbsp;</h2>
            </legend>
            <div class="layui-field-box">
                <div class="layui-col-md2 center" style="font-size: 1.3rem;">
                    欢迎： {{.uname}}
                </div>
                <div class="layui-col-md2 center" style="font-size: 1.3rem;">
                    <a href="/user_management" target="_top" class="layui-btn layui-btn-radius">管理用户</a>
                </div>
                <div class="layui-col-md2 center" style="font-size: 1.3rem;">
                    <a href="/monitor" target="_top" class="layui-btn layui-btn-radius">监控中心</a>
                </div>
				<div class="layui-col-md6" style="font-size: 1.4rem;">
					{{.tianqi}}
				</div>
                <br></br>

            </div>
        </fieldset>
    </div>
</div>
<div style=" height:1rem">

</div>
<h2 class="center" style="line-height:3rem">抗疫机器人控制台</h2>
<hr class="layui-bg-green center" style="width: 90%;height: 2px;" />
<br>
<br></br>
<div class="layui-row">
    <div class="layui-col-md5 layui-col-md-offset1">
        <fieldset class="" style="height:auto">
            <legend>
                <h2 style="padding: 0, 2rem, 0, 2rem;">&nbsp;&nbsp;自定位抗疫机器人&nbsp;&nbsp;</h2>
            </legend>
            <div class="layui-field-box">
                <div class="layui-col-md7 " style="font-size: 1.2rem ;border:green;">
                    <li style="color: green;">电量剩余：80%</li>
                    <li style="color: purple;">没有紧急情况，运转正常</li>
                </div>

                <div class="layui-col-md5 center" style="line-height: 5rem;">

                    <div class="layui-col-md11  layui-col-xs6 myb">

                        <a href="/log?id=0" target="_top" class="layui-btn layui-btn-radius">查看日志</a>
                    </div>
                    <div class="layui-col-md11 layui-col-xs6 myb">

                        <a href="/info?id=0" target="_top" class="layui-btn layui-btn-radius">机器人简介</a>
                    </div>
                    <div class="layui-col-md12 layui-col-xs6 myb">

                        <a href="/Self_positioning_anti_epidemic" target="_top" class="layui-btn layui-btn-radius">机器人控制面板</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="layui-col-md5">
        <fieldset class="" style="height:auto">
            <legend>
                <h2>&nbsp;&nbsp;抗疫空中四旋翼机器人&nbsp;&nbsp;</h2>
            </legend>
            <div class="layui-field-box">
                <div class="layui-col-md7 " style="font-size: 1.2rem ;border:green;">
                    <li style="color: green;">电量剩余：90%</li>
                    <li style="color: red;"> 巡检线路出现未佩戴口罩人员！</li>
                </div>
                <div class="layui-col-md5 center" style="line-height: 5rem;">
                    <div class="layui-col-md11  layui-col-xs6 myb">
                        <a href="/log?id=1" target="_top" class="layui-btn layui-btn-radius">查看日志</a>
                    </div>
                    <div class="layui-col-md11 layui-col-xs6 myb">
                        <a href="/info?id=1" target="_top" class="layui-btn layui-btn-radius">机器人简介</a>
                    </div>
                    <div class="layui-col-md12 layui-col-xs6 myb">
                        <a href="/Muiti_win_UAV_patrol" target="_top" class="layui-btn layui-btn-radius">机器人控制面板</a>
                    </div>
                </div>
                <br></br>
            </div>
        </fieldset>
    </div>
</div>
<div style="height: 0.5rem">

</div>
<div class="layui-row">
    <div class="layui-col-md5 layui-col-md-offset1">
        <fieldset class="" style="height:auto">
            <legend>
                <h2 style="padding: 0, 2rem, 0, 2rem;">&nbsp;&nbsp;消毒机器人&nbsp;&nbsp;</h2>
            </legend>
            <div class="layui-field-box">
                <div class="layui-col-md7 " style="font-size: 1.2rem ;border:green;">
                    <li style="color: red;">电量剩余10%,充电路线被阻碍！！</li>
                    <li style="color: green;">今日消毒成功！</li>
                </div>
                <div class="layui-col-md5 center" style="line-height: 5rem;">

                    <div class="layui-col-md11  layui-col-xs6 myb">

                        <a href="/log?id=2" target="_top" class="layui-btn layui-btn-radius">查看日志</a>
                    </div>
                    <div class="layui-col-md11 layui-col-xs6 myb">

                        <a href="/info?id=2" target="_top" class="layui-btn layui-btn-radius">机器人简介</a>
                    </div>
                    <div class="layui-col-md12 layui-col-xs6 myb">

                        <a href="/Disindection" target="_top" class="layui-btn layui-btn-radius">机器人控制面板</a>
                    </div>
                </div>
                <br></br>
            </div>
        </fieldset>
    </div>
    <div class="layui-col-md5">
        <fieldset class="" style="height: auto">
            <legend>
                <h2>&nbsp;&nbsp;药房自动发药机器人&nbsp;&nbsp;</h2>
            </legend>
            <div class="layui-field-box">
                <div class="layui-col-md7 " style="font-size: 1.2rem ;border:green;">
                    <li style="color: green;">电量剩余：70%</li>
					<li style="color: red;"> <pre> {{.sellout }}</pre>  </li>
                </div>
                <div class="layui-col-md5 center" style="line-height: 5rem;">

                    <div class="layui-col-md11  layui-col-xs6 myb">

                        <a href="/log?id=3" target="_top" class="layui-btn layui-btn-radius">查看日志</a>
                    </div>
                    <div class="layui-col-md11 layui-col-xs6 myb">

                        <a href="/info?id=3" target="_top" class="layui-btn layui-btn-radius">机器人简介</a>
                    </div>
                    <div class="layui-col-md12 layui-col-xs6 myb">

                        <a href="/Automatic_dispensing" target="_top" class="layui-btn layui-btn-radius">机器人控制面板</a>
                    </div>
                </div>
                <br></br>
            </div>
        </fieldset>
    </div>
</div>
<div style="height: 3rem;">

</div>
{{else}}
    <h1 class="center">请登录后再查看本页面！</h1>

    {{ end }}

    {{ end }}
