@charset "utf-8";
ul {
	right: 0px;
	padding: 10px;
	position: absolute;
}
hr {
	margin: auto;
}
.ptext {
	line-height: 30px;
	font-size: 20px;
	text-indent: 2em;
}

.center {
	text-align: center;
}

h1 {
	padding: 0;
	line-height: 3.5rem;
	font-size: 2rem;
}
h2 {
	padding: 0, 2rem, 0, 2rem;

	font-size: 1.5rem;
}
h3,
h4,
h5,
h6 {
	font-size: 1.5rem;
	padding: 0 2em 0 1em;
}
p {
	padding: 0 2rem 0 2rem;
	line-height: 2rem;
	font-size: 1.2rem;
}
